body {
    text-align: center;
}
h1 {
    background-color: rgb(187, 255, 147);
    font-family: cursive;
    width: 40%;
    min-width: 300px;
    padding: 5px 1rem;
    margin: 0 auto;
}
.nowrap {
    white-space: nowrap;
}